<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- NEW TOOEAT -->
      <div class="row">

        <div class="col-1"></div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-uppercase text-muted mb-0">Novo tooeat</h5>

              <form (ngSubmit)="onSubmit()" role="form" #tooeatForm="ngForm">
                <div class="form-group mb-0">
                  <textarea [(ngModel)]="form.text" name="text" #text="ngModel" rows="3"
                    (keydown.control.enter)="tooeatForm.form.valid ? onSubmit(): ''"
                    placeholder="Espalhe uma novidade..."
                    [class]="(text.valid) ? 'form-control is-valid' : 'form-control is-invalid'" required></textarea>
                  <button type="submit" class="m-0 mt-2 btn btn-info btn-lg btn-block"
                    [disabled]="!tooeatForm.form.valid">Tooetar</button>
                </div>
              </form>

            </div>
          </div>

        </div>
        <div class="col-1"></div>

      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">

    <!-- LIST TOOEATS -->
    <div *ngFor="let t of tooeats">
      <app-tooeat [tooeat]="t" (onDelete)="deleteTooeat($event,t)" (onUpdate)="updateTooeat($event)"></app-tooeat>
    </div>

</div>