<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Bem-vindo ao Tooeater!</h1>
          <p class="text-lead text-light">Aproveite o Tooeater para conhecer pessoas e a culinária e se tornar um
            comedor também.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5" ngxUiLoaderBlurred>

  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <h1>Entrar</h1>
          </div>
          <div *ngIf="loading" class="d-flex justify-content-center mb-3">
            <app-atom-spinner [animationDuration]="1000" [size]="60" [color]="'#ff1d5e'"></app-atom-spinner>
          </div>
          <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
            <strong>Oh não!</strong> {{errorMsg}}
          </div>
          <div *ngIf="success" class="alert alert-success" role="alert">
            <strong>Aí sim!</strong> Login efetuado com sucesso! Aguarde...
          </div>

          <form (ngSubmit)="onSubmit()" role="form" #loginForm="ngForm">
            <div class="form-group mb-3 {{!username.pristine && !isValidUsername() ? 'has-danger' : ''}}">
              <div class="input-group input-group-alternative ">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input [(ngModel)]="form.username" name="username" placeholder="Usuário" type="text" required
                  #username="ngModel"
                  [class]="(username.valid || username.pristine) && isValidUsername() ? 'form-control is-valid' : 'form-control is-invalid'">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input [(ngModel)]="form.password" name="password" placeholder="Senha" type="password" required
                  #password="ngModel"
                  [class]="password.valid || password.pristine ? 'form-control' : 'form-control is-invalid'">
              </div>
            </div>
            <div class="custom-control custom-control-alternative custom-checkbox">
              <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
              <label class="custom-control-label" for=" customCheckLogin">
                <span class="text-muted">Lembrar-me</span>
              </label>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4"
                [disabled]="!loginForm.form.valid || !isValidUsername()">Entrar</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a href="javascript:void(0)" class="text-light"><small>Esqueceu a senha?</small></a>
        </div>
        <div class="col-6 text-right">
          <a routerLinkActive="active" [routerLink]="['/register']" class="text-light"><small>Criar nova
              conta</small></a>
        </div>
      </div>
    </div>
  </div>
</div>