// import style toast
@import '~ngx-toastr/toastr';

.app-loading {
    .logo {
      width: 100px;
      height: 100px;
      
      background: url('assets/img/brand/blue.png') center center no-repeat; 
    }
  }