<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

      <div class="row">

        <div class="col-1"></div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-uppercase text-muted mb-0">Pesquisa</h5>

            </div>
          </div>

        </div>
        <div class="col-1"></div>

      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">

</div>
