<div class="header bg-gradient-info pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row mt-5">

        <div class="col-1"></div>

        <div class="col">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <img src="{{ user.photo ? user.photo : '/assets/img/user/default.png' }}" class="rounded-circle">
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">{{user.tooeats}}</span>
                      <span class="description">Tooeats</span>
                    </div>
                    <div>
                      <span class="heading">{{user.following}}</span>
                      <span class="description">Seguindo</span>
                    </div>
                    <div>
                      <span class="heading">{{user.followers}}</span>
                      <span class="description">Seguidores</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h1>{{ user.firstName }}{{ ' '+user.lastName }} - @{{user.nickname}}</h1>
                <hr class="my-4" />
                <p>{{ user.bio }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-1"></div>

      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">

  <div class="col-1"></div>
  <div class="col">

    <div class="card box-effect">
      <div class="card-body">

        <div class="col">
          <div class="row">
            <h1>Tooeats</h1>
          </div>
          <div class="row text-center" *ngIf="!tooeats.length">
            <p>Nenhum tooeat publicado</p>
          </div>

          <div class="row" *ngFor="let tooeat of tooeats">
            <div class="col">
              <app-tooeat [tooeat]="tooeat"></app-tooeat>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-1"></div>

</div>
