<!-- Login Form -->

<form>
  <input [(ngModel)]="userSel.firstName" placeholder="Nome" type="text" class="fadeIn second" name="firstName">
  <br />
  <input [(ngModel)]="userSel.lastName" placeholder="Sobrenome" type="text" class="fadeIn second" name="lastName">
  <br />
  <input [(ngModel)]="userSel.nickname" placeholder="Apelido" type="text" class="fadeIn second" name="nickname">
  <br />
  <input [(ngModel)]="userSel.birthday" placeholder="Data de Nascimento" type="date" class="fadeIn second"
    name="birthday">
  <br />
  <select class="fadeIn second" [(ngModel)]="userSel.gender" name="gender" id="gender">
    <option value="true">Masculino</option>
    <option value="false">Feminino</option>
  </select>
  <br />
  <input [(ngModel)]="userSel.bio" placeholder="Biografia" type="text" class="fadeIn second" name="bio">
  <br />
  <input [(ngModel)]="userSel.email" placeholder="Email" type="email" class="fadeIn second" name="email">
  <br />
  <input [(ngModel)]="userSel.password" placeholder="Senha" type="password" class="fadeIn second" name="password">
  <br />
  <input [(ngModel)]="userSel.photo" placeholder="Foto" type="text" class="fadeIn second" name="photo">
  <br />
  <br />
  <input type="submit" class="fadeIn second" value="Registrar" (click)="addUser()" name="Registrar">
</form>