<!-- Login Form -->

  <form>
    <input [(ngModel)]="userSel.firstName" placeholder="Primeiro Nome" type="text" class="fadeIn second"
      name="firstName">
    <br />
    <input [(ngModel)]="userSel.lastName" placeholder="Último Nome" type="text" class="fadeIn second" name="lastName">
    <br />
    <input [(ngModel)]="userSel.nickname" placeholder="Apelido" type="text" class="fadeIn second" name="nickname">
    <br />
    <input [(ngModel)]="userSel.birthday" placeholder="Data de Nascimento" type="text" class="fadeIn second"
      name="birthday">
    <br />
    <input [(ngModel)]="userSel.gender" placeholder="Gênero" type="text" class="fadeIn second" name="gender">
    <br />
    <input [(ngModel)]="userSel.bio" placeholder="Biografia" type="text" class="fadeIn second" name="bio">
    <br />
    <input [(ngModel)]="userSel.email" placeholder="Email" type="email" class="fadeIn second" name="email">
    <br />
    <input [(ngModel)]="userSel.password" placeholder="Senha" type="password" class="fadeIn second" name="password">
    <br />
    <input [(ngModel)]="userSel.photo" placeholder="Foto" type="text" class="fadeIn second" name="photo">
    <br />
    <br />
    <input type="submit" class="fadeIn second" value="Registrar" (click)="addUser()" name="Registrar">
  </form>
